*.o
.libs
.deps
*.in
*.la
*.lo
Makefile
libtool
m4
stamp-h1
ABOUT-NLS
AUTHORS
ChangeLog
NEWS
config.h
config.log
config.rpath
config.status
configure
build-aux
autom4te.cache
aclocal.m4

cifsadmin/cifsadmin
cifsd/cifsd
cifsstat/cifsstat

.dep_files
.built*
.configured_*
.prepared_*
ipkg-*
